/*Header container below this point*/

.header-container {
  height: 55px;
  opacity: .95;
  background: linear-gradient(to right, rgb(97, 110, 125) 5%, rgb(115,194,190) 50%);
  position: fixed;
  width: 100%;
  z-index: 400;
  border-bottom: solid 2px white;
}

/*Main top-Logo below this point*/

.logo {
  background-image: url("Flexibla_vit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3px;
  height: 45px;
  width: 240px;
  -webkit-animation: slide-in 3s; /* Safari 4+ */
  -moz-animation:    slide-in 3s; /* Fx 5+ */
  -o-animation:      slide-in 3s; /* Opera 12+ */
  animation:         slide-in 3s; /* IE 10+, Fx 29+ */

}

/*Logo slide-in amimation below this point*/

.slide-in {
  -webkit-animation: slide-in 2.5s; /* Safari 4+ */
  -moz-animation:    slide-in 2.5s; /* Fx 5+ */
  -o-animation:      slide-in 2.5s; /* Opera 12+ */
  animation:         slide-in 2.5s; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes slide-in {
  0%   { margin-left: -455px; }
  100% { margin-left: 0px; }
}
@-moz-keyframes slide-in {
  0%   { margin-left: -455px; }
  100% { margin-left: 0px; }
}
@-o-keyframes slide-in {
  0%   { margin-left: -455px; }
  100% { margin-left: 0px; }
}
@keyframes slide-in {
  0%   { margin-left: -455px; }
  100% { margin-left: 0px; }
}


/*Login button below this point*/

.login a{
  border-radius: 50px;
  margin-top: -43px;
  background-color: rgb(97, 110, 125);

}

.login a:hover {
  color: rgb(97, 110, 125);
}
